<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Blockchain Transaction</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <form method="post" action="/make-transaction" id="form" class="validate form">
    <h2>Make Transaction</h2>
    <p>Enter Details to Send Money</p>
    <div class="form-field">
      <label for="sender">Sender Name:</label>
      <input type="text" id="sender" name="sender" required />
    </div>
    <div class="form-field">
      <label for="recipient">Recipient Name:</label>
      <input type="text" id="recipient" name="recipient" required />
    </div>
    <div class="form-field">
      <label for="amount">Amount:</label>
      <input type="number" id="amount" name="amount" min="1" step="1" required />
    </div>
    <div class="form-field">
      <input type="submit" value="Send" />
    </div>
    <div class="crtid">
      <% if (transactionId) { %>
        <p class="btn">Done! Transaction Id: <%= transactionId %>
        </p>
        <% } %>
    </div>
    <div class="links">
      <a class="back" href="/verify-transaction">Verify A Transaction</a>
      <a class="back" href="/blocks" target="_blank" rel="noopener noreferrer">View All Transactions</a>

    </div>
  </form>

</body>

</html>
